.buttonForgotPassword {
    width: 90%;
    font-family: Manrope;
    color: #EBDCD5 !important;
    font-size: 17px !important;
    font-weight: bold !important;
    padding-top: 13px !important;
    border-radius: 12px !important;
    padding-bottom: 15px !important;
    margin: 56% 10% 5% 5% !important;
    background-color: #FF5C4DFF !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13) !important;
}