/*------------------- Central container ------------------*/
.container_login {
    width: 35rem;
    height: 35rem;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(0, 0, 0, 0.3);

}

/*------------------- Logo ------------------*/
.logoLogin {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}

.line {
    border-color: #FF9636;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

/*------------------- Title ------------------*/
.title {
    color: white;
    text-align: center;
    font-size: 30px;
}