.container_login {
    width: 30rem;
    height: 30rem;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

.header {
    text-align: center;
    color: white;
}

.submitLogin {
    color: orange;
}


.text {
    color: lightgray;
    text-align: center;
}

.refSignUp {
    color: #007BD4;
    text-align: center;
    text-decoration: none;
}

.refSignUp:hover {
    color: grey;
}