.cardsLayout {
    width: 290px;
    height: 420px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    border-radius: 12px !important;
    background-color: #ede0de !important;
    box-shadow: 8px 8px 10px 4px rgba(0, 0, 0, 0.22) !important;
}

/*------------------------------ Title of the card ------------------------------*/
.cardTitle {
    margin-top: 5px !important;
    width: 272px !important;
    font-size: 29px !important;
    font-weight: bold !important;
    letter-spacing: -0.2px !important;
    color: rgba(36, 36, 36, 0.88);
    font-family: "Roboto Bold", serif !important;
}


.separationLine {
    width: 272px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-color: #a08c8a !important;
}

/*------------------------------ Card text content ------------------------------*/
.textField {
    font-family: "Roboto Regular", serif !important;
    border-radius: 22px !important;
    width: 100% !important;
    height: 290px !important;
}

/*------------------------------- Information box -------------------------------*/
.infoCard {
    height: 60px;
    width: 100%;
    margin-top: 5px !important;
    border-radius: 12px !important;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.34) !important;
    font-family: "Roboto Regular", serif !important;
}

.infoText {
    margin-top: -3px !important;
    margin-bottom: 2px !important;
    font-size: 12px !important;
}

.infoTextContent {
    margin-top: -3px !important;
    font-size: 12px !important;
    margin-left: 5px !important;
    font-family: "Roboto Black", serif !important;
}