/*------------------------------- Information box -------------------------------*/
.sectionsInfoCard {
    height: 50px;
    width: 100%;
    margin-top: 2px !important;
    border-radius: 12px !important;
    background-color: #FF5C4D !important;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.34) !important;
}

.sectionsInfoText {
    font-size: 14px !important;
    margin-left: 4px !important;
}

.sectionsInfoTextContent {
    font-size: 14px !important;
    margin-left: 5px !important;
    font-weight: bold !important;
}