/*----------------- Button insert new element --------------------*/
.buttonNew {
    width: 102% !important;
    font-family: Manrope;
    font-size: 15px !important;
    margin-left: 10% !important;
    text-align: left !important;
    margin-right: 10% !important;
    border-radius: 12px !important;
    font-weight: bolder !important;
    background-color: #FF9636 !important;
    padding: 15px 30px 15px 30px !important;

}

/*----------------- Other --------------------*/
.icon {
    margin-left: 10px;
    margin-right: 10px;
}

.noPaddingTopBottom {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}