.leftBarGrid {
    margin-top: 30px !important;
    margin-right: 20px !important;
}

/*----------------- Button insert new element --------------------*/
.buttonNew {
    font-family: Manrope;
    height: 70px !important;
    width: 96% !important;
    margin-left: 10px !important;
    font-size: 19px !important;
    text-align: left !important;
    border-radius: 22px !important;
    font-weight: bolder !important;
}

.buttonNew svg {
    width: 33px;
    height: 33px;
}

/*----------------- List --------------------*/
.icon {
    margin-left: 10px;
    margin-right: 13px;
}

.noPaddingTopBottom {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.noPaddingTopBottom:hover {
    background-color: transparent;
}

.listClass {
    width: 100% !important;
}

.clickAnimation {
    margin-left: -16px !important;
    border-radius: 0 22px 22px 0 !important;
    margin-right: -16px !important;
}

.clickAnimation:focus {
    background-color: #3C3C3C !important;
}