.cardsLayout {
    width: 290px;
    height: 420px;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    border-radius: 12px !important;
    background-color: #ede0de !important;
}

/*------------------------------ Title of the card ------------------------------*/
.separationLine {
    width: 272px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-color: #a08c8a !important;
}