.cardPhoto {
    width: 220px;
    height: 220px;
    margin-top: 10px !important;
    border-radius: 22px !important;
    margin-bottom: 20px !important;
    box-shadow: 8px 8px 10px 4px rgba(0, 0, 0, 0.22) !important;
}