.logo {
    width: 175px;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 11px;
}


/*------------------- Icon -----------------------*/
.menuIcon,
.settingIcon {
    color: white;
    font-size: 30px !important;
    margin-top: 15px !important;
}

.menuIcon {
    margin-left: 30px;
}



/*------------------- SearchBar -----------------------*/
.searchBar {
    border-color: white !important;
    background-color: #525355 !important;
    color: #C0C0C0 !important;
    border-radius: 22px !important;
}