.logo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}


/*------------------- Icon -----------------------*/
.menuIcon,
.settingIcon {
    color: white;
    font-size: 30px !important;
}

.menuIcon {
    margin-left: 30px;
}



/*------------------- SearchBar -----------------------*/
.searchBar {
    border-color: white !important;
    background-color: #525355;
    color: #C0C0C0 !important;
    border-radius: 22px !important;
}