.masonryImageStyle {
    border-radius: 22px !important;
}

.uploadButton {
    border-radius: 90px !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13) !important;
}

.uploadButton svg {
    width: 27px !important;
    height: 27px !important;
    margin-left: 10px !important;
}

.deleteButton:hover {
    background-color: #ffa59a !important;
    cursor: pointer;
}