.masonryPhotoStyle {
    border-radius: 22px !important;
}

.imageListPadding {
    margin-top: 20px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
}

.uploadButton {
    border-radius: 90px !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13) !important;
}

.uploadButton svg {
    width: 27px !important;
    height: 27px !important;
    margin-left: 10px !important;
}