@font-face {
    font-family: Manrope;
    src: url(Manrope-VariableFont_wght.ttf);
}

/*-------------------  ------------------*/
.header {
    color: #007BD4;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    font-size: 40px;
}


.username,
.password {
    display: flex;
    align-items: flex-end;
    width: 60%;
    margin: 20px 20% 0 20% !important;
    color: darkgrey !important;
}



.inputStyle {
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 20px !important;
}

/*------------------- Forgot password link ------------------*/
.forgotLink {
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    color: #EBDCD4;
    width: 60%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 4px !important;
}

.forgotLink:hover {
    text-decoration: none;
    color: #dac9c3;
}

/*------------------- Create account link ------------------*/
.createAccountLink {
    text-decoration: none;
    width: 60%;
    color: #009CF0;
    font-size: 20px;
    margin-left: 10% !important;
    margin-right: 10% !important;
    margin-top: 30px !important;
}

.createAccountLink:hover {
    text-decoration: none;
    color: #018ad3;
}

/*------------------- Button ------------------*/
.buttonSubmit {
    font-family: Manrope;
    color: #EBDCD5 !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13) !important;
    font-size: 15px;
    font-weight: bold;
    width: 60%;
    margin: 30px 30% 5% 20% !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-radius: 12px !important;
    background-color: #10587F !important;
}

.buttonGuest {
    font-family: Manrope;
    color: #4F4F4F !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13) !important;
    font-size: 15px;
    font-weight: bold;
    width: 60%;
    margin: 30px 30% 0 20% !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-radius: 12px !important;
    background-color: #EBDCD4 !important;
}