html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Manrope';
  background-color: #202124;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* Internet Explorer */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

code {
  font-family: 'Manrope';
}