/*---------------- Layout -------------*/
.topRow {
    height: 10%;
}

.bottomRow {
    height: 90%;
}

.prova {
    height: 100% !important;
}

.containerCenter {
    height: 100% !important;
    background-color: #3B3B3B !important;
    border-radius: 22px 1px 1px 1px;
    position: absolute !important;
    margin-left: 19.8%;
}

.mostRecent {
    color: white;
    font-size: 30px;
    margin-top: 17px;
    text-align: left;
    margin-left: 30px;
    font-weight: bolder;
    font-family: Manrope;
}