/*---------------- Layout -------------*/
.topMarginHomepage {
    margin-top: 20px !important;
}

.homeGrid {
    margin-top: 30px;
}

.mostRecent {
    color: white;
    font-size: 30px;
    margin-top: 17px;
    text-align: left;
    margin-left: 30px;
    font-weight: bolder;
    font-family: Manrope, serif;
}

.avatarIconClickAnimation {
    margin-right: 0px !important;
    width: 40px !important;
    height: 40px !important;
    margin-top:7px !important;
}

.homepageBoxBackground {
    margin-top: 30px !important;
}

/*---------------- Pop-Up -------------*/
.MuiMenu-paper ul{
    background-color: #a08c8a;
    border-radius: 22px !important;
    margin-top: 10px !important;
    margin-right: 0 !important;
    width: 350px !important;
    height: 120px !important;
}

.MuiMenu-paper.notification ul {
    margin-top: 0 !important;
    margin-right: 65px !important;
    height: 600px !important;
    width: 410px !important;
}

.sendButton:hover {
    background-color: #76ab02 !important;
    cursor: pointer;
}

.exitPopUpIcon:hover {
    cursor: pointer;
}

.loginOtherAccountPopUp:hover {
    background-color: #534341 !important;
    cursor: pointer;
}