.topRow {
    height: 10%;
}

.bottomRow {
    height: 90%;
}

.prova {
    height: 100% !important;
}


.containerCenter {
    height: 100% !important;
    background-color: #3B3B3B !important;
    border-radius: 22px 1px 1px 1px;
}