/*------------------- Input ------------------*/
.username,
.password {
    width: 60%;
    display: flex;
    align-items: flex-end;
    color: darkgrey !important;
    margin: 20px 20% 0 20% !important;
}

input,
select,
textarea {
    color: #EBDCD4 !important;
    font-size: 16px !important;
}

.inputStyle {
    width: 80%;
    margin-left: 10% !important;
    margin-top: 20px !important;
    margin-right: 10% !important;
}

.inputStyleName,
.inputStyleSurname {
    width: 95%;
    margin-top: 20px !important;
}

.inputStyleName {
    margin-right: 5% !important;
}

.inputStyleSurname {
    margin-left: 5% !important;
}

/*------------------- Button ------------------*/
.buttonSignup {
    width: 90%;
    font-family: Manrope;
    color: #EBDCD5 !important;
    font-size: 17px !important;
    font-weight: bold !important;
    padding-top: 13px !important;
    border-radius: 12px !important;
    padding-bottom: 15px !important;
    margin: 20% 10% 5% 5% !important;
    background-color: #ff5c4d !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13) !important;
}